/** @format */

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.todo-input {
  background: #fff;
  padding: 0.75rem;
  width: 90%;
  border-radius: 10px;
  margin: 0 auto 1rem auto;
  color: #333;
  border: none;
}

ul {
  list-style: none;
  margin: 0;
}

.todo-card {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  color: #666;
  width: 90%;
  margin: 1rem auto 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.todo-card input {
  margin-right: 0.5rem;
}

.todo-content {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.todo-edit {
  position: relative;
}

.todo-edit-input {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  width: 95%;
}

.cancel {
  position: absolute;
  border: 0;
  cursor: pointer;
  right: 5px;
  top: 50%;
  transform: translate(0, -50%);
  color: whitesmoke;
}

.todo-button {
  display: flex;
  gap: 0.3rem;
  align-content: center;
  align-items: center;
  text-align: center;
}
.todo-card button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.edit,
.low {
  color: green;
}

.edit:disabled {
  color: #666;
  cursor: not-allowed;
}

.delete,
.high {
  color: red;
}

.filter-button {
  background: rgb(89, 88, 88);
  margin-right: 0.5rem;
}

.filter-button:focus {
  background: green;
}
